@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
body{
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100vh;
    font-size: 14px;
    font-family: "Raleway";display: flex;
    justify-content: center;
    align-items: center;
}

section{
    margin: auto;
    width: 100%;
    --border: 10px;
}

.top {
    background-color: hsl(228, 56%, 26%);
    border-radius: var(--border) 80px var(--border) var(--border);
    padding: 30px;
    margin-bottom: 20px;
}

ul.icons {
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
}
ul.icons li {
    background: #000; 
    margin-right: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 29px;
    height: 29px;
}
.bottom{
    background-color: hsl(228, 56%, 26%);
    border-radius: var(--border);
    padding: 30px;
    color: hsl(229, 7%, 55%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_gb,.left,.right{
    color:hsl(243, 100%, 93%)
}
.bottom_gb {
    font-weight: 700;
}
.gb_lvl{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gb{
    width: 160px;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bolder;
    position: relative;
    left: 40px;
    top: 60px;
    border-radius: 8px;
}
.gb1{
    font-weight: bold;
    font-size: 50px;
    color: #000;
    margin-right: 10px;

}
.prog_bar{
    width: 100%;
    height: 15px;
    background-color:  hsl(229, 57%, 11%);
    border-radius: 15px;
    margin: 10px 0;
}
.gradient{
    width: 75%;
    height:100%;
    background-color: red;
    border-radius: 15px;
    position: relative;
    background-image: linear-gradient(to right,hsl(6, 100%, 80%) , hsl(335, 100%, 65%));
}
.bottom > div{
    width: 100%;
}
p{
    margin-left: 20px;
    color: hsl(243, 100%, 93%);
}
.gradient::after{
    content: "";
    position: absolute;
    right:2.5px;
    top: 2.5px; 
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #fff;
}
.left, .right {
    font-weight: 700;
}